/*font*/
$default-font: "Aventa", sans-serif;
/*color*/
$accent-blue: #008eff;
$blue: #0079d9;
$lite-blue: #dae5f2;
$outline-blue: #cce8ff;
$dark-blue: #313d5d;
$dark-outline: #5c6c86;
$cyan: #23caf2;
$purple: #c545c1;
$green: #3ecb00;
$dark-green: #38b600;
$orange: #f7931a;
$grey: #a9b2bf;
$pink: #f8f4fc;
$bright-pink: #fc3ea5;
$white: #fff;
$text-color: #395774;
$lite-cream: #f5f9ff;
$blueberry-cream: #f5f7ff;
$strawberry-cream: #f8f4fc;